<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>

<main layout:fragment="content">

    <div class="container justify-content-center">
        <a href="/admin/dogs" class="btn btn-primary">
            Dog Editor
        </a>
        <a href="/admin/users" class="btn btn-primary">
            User Editor
        </a>
        <a href="/admin/breeds" class="btn btn-primary">
            Breed Editor
        </a>
    </div>
</main>

</body>
<script type="module" layout:fragment="script">


</script>
</html>