<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Breeds</title>
</head>
<body>

<main layout:fragment="content">

    <div class="container">

        <div class="card my-2">
            <div class="card-head admin-card-head p-2 border-bottom">
                <h2>
                    Breed Editor
                </h2>
            </div>
            <div class="card-body" id="table">
                
            </div>
            <div class="card-footer row mx-0 align-items-center" id="breedAdd">

            </div>

        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Confirm Delete</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete <span class="fw-bold" id="breedValue"></span>
            </div>
            <div class="modal-footer">
            <button type="button" id="deleteConfirm" class="btn btn-secondary" data-bs-dismiss="modal">Delete</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
        </div>
    </div>
    
</main>

</body>
<script type="module" layout:fragment="script">
    import TableGenerator from '/js/TableGenerator.js';
    import BreedEditor from '/js/BreedEditor.js';
    
    let table = new TableGenerator(
        "table", //ID
        ["ID","Name","Edit","Actions"]); //Head
    let breedEditor = new BreedEditor(table, "breedAdd");
</script>
</html>