<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Dog</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>

<main layout:fragment="content">
    <div  class="justify-content-center align-items-center row m-0">

        <h2 class="text-center p-2 mt-4">New Dog</h2>
        <div class="border rounded bg-white col-12 col-md-8 col-lg-6 p-2 my-2" id="form">
            <h4 class="text-center">
                Add Details
            </h4>
        </div>

    </div>
    
</main>

</body>
<script type="module" layout:fragment="script">

    import FormCreator from '/js/FormCreator.js';
    import MapBoxForm from '/js/MapBoxForm.js';
   
    let form = new FormCreator("form","/api/dog/add", "post", "/home");
    let mapbox = new MapBoxForm();

    form.createLabel("name", "Dog Name");
    form.createInput("name","Dog Name")

    form.createLabel("dogLocation", "Set Dog Location");
    form.importForm(mapbox.export());
    form.importForm(mapbox.exportForm());
    mapbox.addMarker("dog")

    form.createLabel("Image", "Image");
    form.createInput("image","","file");

    let obj = {
            title: "Sex",
            name: "sex",
            options:[
                {
                value: "male",
                label: "Male"
                },
                {
                value: "female",
                label: "Female"
                }
            ]
        }
    form.createRadioGroup(obj)

    form.createLabel("bio", "Bio", );
    form.createTextArea("bio","Insert Bio Here!", 300);

    axios.get("/api/breed").then( (res)=>{
        let obj = {
            id: "breeds",
            multiselect: "true",
            options:[]
        }
        res.data.forEach( breed =>{
            obj.options.push({
                value: breed.id,
                text: breed.name
            })
        })
        form.createLabel("breeds", "Breeds")
        form.createSelect(obj);
    })


</script>
</html>