<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" lang="en">
<head>
    <title>Profile </title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>

<main layout:fragment="content">

    <div class="container ">


    

    
        <div class="col-12 row m-0 my-2 justify-content-between">

            <h2 class="text-center col-12 col-md-3 col-lg-2">My dogs</h2> 
            <a href="/dog/add" class="btn btn-primary  col-12 col-md-3 col-lg-2">Add dog </a>
        </div>
        <div class="d-flex flex-wrap justify-content-lg-start justify-content-center" id="images">
        
        </div>
        



      
    </div>

</main>
</body>
<script type="module" layout:fragment="script">
    import DogPanel from '/js/DogPanel.js'

    export default class DogImageList{

        constructor(element){

            this.element = document.getElementById(element);
            this.dogs = [];

            this.getDogs()
            return this;
        }
        
        getDogs(){
            let self = this;
            this.dogs = [];
            axios.get("/api/dogs/owner/mydogs").then( res =>{

                if(res.data.length == 0){

                    let container = document.createElement("div");
                    container.setAttribute("class","d-flex flex-column justify-content-center align-items-center text-center")
                    container.style.height = "70vh";

                    let h1 = document.createElement("h1");
                    h1.innerHTML = "No Dogs Found!"
                    let h2 = document.createElement("h3");
                    h2.innerHTML = "Please add one by clicking the add button above!"

                    container.appendChild(h1);
                    container.appendChild(h2);

                    this.element.appendChild(container);

                    return;
                }
                res.data.forEach( dog =>{
                    //unpretty way of changing links for each dog to edit
                    let img = new DogPanel(dog);
                    img.image.img.addEventListener('click', ()=>{
                        window.location.href = "/dog/edit/" + dog.id;
                    })
                    self.dogs.push(img)
                })
                self.drawDogs()  
            })
        }

        drawDogs(){
            //clear area
            this.element.innerHTML = ""
            this.dogs.forEach( dog =>{
                this.element.appendChild(dog.element)
            })
        }

    }

    new DogImageList("images")


</script>
</html>