<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" lang="en">
<head>
    <title th:text="'Dog Profile - ' + ${dog.name}"> </title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>

<main layout:fragment="content">

    <input type="hidden" th:value="${dog.lon}" id="lon" class="invisible">
    <input type="hidden" th:value="${dog.lat}" id="lat" class="invisible">
    <input type="hidden" th:value="${dog.id}" id="id" class="invisible">
    <input type="hidden" th:value="${totalDogs}" id="totalDogs" class="invisible">

    <h3 id="back" class="position-absolute" style="left:1em; top:50%; cursor:pointer">
        <i class="fas fa-chevron-circle-left"></i>
    </h3>
    <h3 id="next" class="position-absolute" style="right:1em; top:50%; cursor:pointer">
        <i class="fas fa-chevron-circle-right"></i>
    </h3>
    <div class="container">

        <div class="row mt-4">

            <div class="col-12 col-md-6 p-2" style="height: 30rem">

                
                <div class="w-100 m-2 rounded border" id="imagebg" style="background: url('/img/noDog.png'); height:30rem; background-position: 50%; background-size:200%; filter: blur(3px)">

                </div>
                <img id="image" class="position-relative w-100 mx-2 rounded" src="/img/noDog.png" style="top:-31rem; margin-bottom:-30rem;"  alt="">
                
                
                

            </div>

            <div class="col-12 col-md-6 p-2" style="height:30rem" >

                <div class="w-100 border rounded m-2 d-flex flex-column justify-content-between" style="height:100%">

                    <div class="d-flex justify-content-between align-items-center">
                        <h2 id="name" class="p-2" th:text="${dog.name}"></h2>

                        <div class="align-self-end">
                            <h4 id="sex" class="p-2" th:if="${dog.sex}" >
                                Male <i class="fas fa-mars"></i>
                            </h4>
                            <h4 id="sex" class="p-2" th:if="${!dog.sex}" >
                                Female <i class="fas fa-venus"></i>
                            </h4>
                        </div>
                        
                    </div>

                    <div id="map" style="height: 10rem" >
                        
                    </div>

                    <div class="p-2" id="bio" th:text="${dog.bio}" style="height:15rem; overflow-y: auto">

                    </div>
                    

                </div>

            </div>
        </div>
        
    </div>
    <script src="/js/keys.js"></script>
</main>
</body>
<script layout:fragment="script">
    mapboxgl.accessToken = apiKey;
    let lon = document.getElementById("lon");
    let lat = document.getElementById("lat");
    let id = document.getElementById("id").value;
    let back = document.getElementById("back");
    let next = document.getElementById("next");
    let data = null;
    let totalDogs = document.getElementById("totalDogs").value;

    let name = document.getElementById("name");
    let sex = document.getElementById("sex");
    let image = document.getElementById("image");
    let imagebg = document.getElementById("imagebg");
    let bio = document.getElementById("bio")

    var map = new mapboxgl.Map({
        center:[
        lon.value,
        lat.value
        ],
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        zoom: 5
    });
    let marker = new mapboxgl.Marker({
        draggable:false
    }).setLngLat([
        lon.value,
        lat.value
    ]).addTo(map);

    function getDog(indentifer){
        axios.get("/api/dogs/" + indentifer).then( res =>{
            if(res.status == 200){
                id = res.data.id
                totalDogs = res.data.totalDogs;
                data = res.data
                changeDog()
            }
        })
    }

    getDog(id)

    function changeDog(){
        name.innerHTML = data.name;
        if(data.sex){
            sex.innerHTML = 'Male <i class="fas fa-mars"></i>'
        }else{
            sex.innerHTML = 'Female <i class="fas fa-venus"></i>'
        }
        console.log(data.images[0].url)
        
        imagebg.style.backgroundImage = `url(${data.images[0].url})`
        image.src = data.images[0].url
        bio.innerHTML = data.bio;
        map.flyTo({
            center: [
                    data.lon,
                    data.lat
                ],
            essential: true,
            zoom: 2
        });
        marker.setLngLat([
            data.lon,
            data.lat
        ]).addTo(map);
    }

    next.addEventListener('click',(e)=>{
        e.preventDefault();

        let nextId = (parseInt(id) + 1)
        if(nextId > totalDogs+1){
            nextId = 1;
        }
        getDog(nextId)

        let nextURL = '/profile/' + nextId;
        let nextTitle = 'Dog profile - Dog Name'; 
        let nextState = { additionalInformation: '/profile/' + nextId };

        window.history.replaceState(nextState, nextTitle, nextURL);
    })

    back.addEventListener('click',(e)=>{
        e.preventDefault();

        let nextId = (parseInt(id) - 1)
        if(nextId < 1){
            nextId = totalDogs;
        }
        getDog(nextId)

        let nextURL = '/profile/' + nextId;
        let nextTitle = 'Dog profile - Dog Name'; 
        let nextState = { additionalInformation: '/profile/' + nextId };

        window.history.replaceState(nextState, nextTitle, nextURL);
    })
    

    
    
</script>
</html>