<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" lang="en">
<head>
    <title th:text="'Dog Profile - ' + ${dog.name}"> </title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>

<main layout:fragment="content">

    <input type="hidden" th:value="${dog.lon}" id="lon" class="invisible">
    <input type="hidden" th:value="${dog.lat}" id="lat" class="invisible">
    <input type="hidden" th:value="${dog.id}" id="id" class="invisible">
    <input type="hidden" th:value="${totalDogs}" id="totalDogs" class="invisible">

    
    <div class="container">

        <div class="row topper">
            <div class="col-12 col-md-4 col-lg-3 m-2" id="profilePicture">

            </div>
            <div class="col row align-items-end">
                <div>
                    <h3>
                        Dog Name
                    </h3>
                    <h5>Sex</h5>
                </div>
            </div>

        </div>

        <div id="images" class="d-flex flex-wrap p-2 m-2">

        </div>
      
    </div>


    <script src="/js/keys.js"></script>
</main>
</body>
<script type="module" layout:fragment="script">

    import HoverImage from "/js/HoverImage.js"
    import BoopImageList from "/js/BoopImageList.js"
    new HoverImage("http://localhost:8080/images/8.jpg","#").draw("profilePicture");

    
    new BoopImageList(26, "images")
    
</script>
</html>