<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>

<main layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:85vh; overflow: hidden;">

            <div class="col-12 col-lg-6 col-md-8 ">

                <div id="form" class="bg-white border rounded w-100"> 
    
                    <h2 class="text-center p-2 pt-4">Register</h2>

                </div>

            </div>
            
            
        </div>
    </div>
    
    
   
</main>

</body>
<script type="module" layout:fragment="script">

import FormCreator from '/js/FormCreator.js';

let form = new FormCreator("form","/api/register", "post" , "/login");

form.createLabel("Email", "E-Mail");
form.createInput("email","Email@example.com")

form.createLabel("username", "Username");
form.createInput("username","Username");

form.createLabel("password", "Password");
form.createInput("password","password", "password");


</script>
</html>