/*
    CSS Author:
    Jacob Gonzalez
*/
:root {
    --main-color: #fde1a3;

    --primary: #f5c345;
    --primary-hover: #b18e35;

    --secondary: #c48383;
    --secondary-hover: #865757;

    --danger: #c93434;
    --danger-hover: #721616;

    --warning: #fdfda1;
    --warning-hover: #e4e48f;
}
  
.bg-main{
    background-color: var(--main-color);
}

.bg-primary2{
    background-color: var(--primary);
}

.bg-secondary{
    background-color: var(--secondary);
}

.bg-danger{
    background-color: var(--danger);
}

.bg-warning{
    background-color: var(--warning);
}

.text-main{
    color: var(--main-color);
}

.text-primary{
    color: var(--primary);
}

.text-secondary{
    color: var(--secondary);
}

.text-warning{
    color: var(--warning);
}

.text-danger{
    color: var(--danger);
}

.btn-primary{
    background-color: var(--primary);
    border-color: var(--primary-hover);
}

.btn-primary:hover{
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}

.btn-secondary{
    background-color: var(--secondary);
    border-color: var(--secondary-hover);
}

.btn-secondary:hover{
    background-color: var(--secondary-hover);
    border-color: var(--secondary-hover);
}

.btn-danger{
    background-color: var(--danger);
    border-color: var(--danger-hover);
}

.btn-danger:hover{
    background-color: var(--danger-hover);
    border-color: var(--danger-hover);
}

.btn-warning{
    background-color: var(--warning);
    border-color: var(--warning-hover);
}

.btn-warning:hover{
    background-color: var(--warning-hover);
    border-color: var(--warning-hover);
}

.admin-card-head{
    text-shadow: 2px 2px 0px #8f7d4060;
    background: linear-gradient(180deg, rgb(248, 223, 142) 0%, rgb(253, 216, 95) 100%);
}

#table{
    height:70vh;
    overflow-y: scroll;
}

.text-outline{
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

.btn-male{
    background-color: #45a3fb;
    border-color: #2282db;
    color:white
}

.btn-female{
    background-color: #f8acff;
    border-color: #eb77ff;
    color:white
}

.topper{
    border-right: solid black 1px;
}

@media only screen and (max-width: 768px) {
    .topper{
        border-right: solid rgba(0, 0, 0, 0) 0px;
        border-bottom: solid black 1px
    }
  }

.boopAnimate{

    -webkit-animation: boopAnimation 1s ;
   -moz-animation: boopAnimation 1s ;
   -o-animation: boopAnimation 1s ;
    animation: boopAnimation 1s ;
    opacity: 0;
    visibility: hidden;
}



@keyframes boopAnimation {
    0%   { opacity:0; visibility: visible;}
    50%  { opacity:1; visibility: visible;}
    100% { opacity:0; visibility: visible;}
  }
  @-o-keyframes boopAnimation{
    0%   { opacity:0; visibility: visible;}
    50%  { opacity:1; visibility: visible;}
    100% { opacity:0; visibility: visible;}
  }
  @-moz-keyframes boopAnimation{
    0%   { opacity:0; visibility: visible;}
    50%  { opacity:1; visibility: visible;}
    100% { opacity:0; visibility: visible;}
  }
  @-webkit-keyframes boopAnimation{
    0%   { opacity:0; visibility: visible;}
    50%  { opacity:1; visibility: visible;}
    100% { opacity:0; visibility: visible;}
  }