<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" lang="en">
<head>
    <title>About us</title>
</head>

<body>

<main layout:fragment="content">

    <div class="container">
        <div class="row">

            <div class="col-12">

                <h1 class="text-center p-3">
                    About the developers
                </h1>

            </div>

            <div class="d-flex justify-items-center align-items-center flex-column mb-4">


                <div class="bg-white col-12 d-flex flex-wrap my-2" >

                    <div class="col-12 col-md-8">
    
                        <div class="d-flex justify-content-between align-items-center">
                            <h1 class="p-2 text-start display-4">Jacob Gonzalez</h1>
                        
                            <div>
                                <ul class="d-flex flex-row nav fs-2">
                                    <li class="nav-item">
                                        <a class="text-muted nav-link" href="https://github.com/JacobGonzalez0">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="text-muted nav-link" href="https://www.linkedin.com/in/jacobgonzalez0/">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="text-muted nav-link" href="https://alumni.codeup.com/students/971">
                                            <i class="fas fa-globe"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        
                        </div>

                        <hr class="">
    
                        <div>
                            <div>
                                Born and raised in South San Antonio, I am web developer with a passion for automation and connecting different tech to other interests and hobbies. I took a coding bootcamp to accelerate and learn industry standards for developing web applications. 
                                I have been interested in computers since childhood. From hosting online gaming servers for different communities to now creating online web applications. Looking forward to a career where I can leverage my skills to build a bridge between technology and people to create programs that meet the needs of the end-user.
                            </div>
                        
                            <br>

                            <a class="text-muted " href="https://www.linkedin.com/in/jacobgonzalez0">Contact Me via LinkedIn</a>
                        </div>
    
                    </div>
    
                    <div class="col-12 col-md-4 col-xl-3 d-flex justify-content-center align-items-center p-4 order-first order-md-last">
                        <img src="/img/dev1.jpg"  class="w-100 rounded-circle" alt="">
                    </div>
    
                    
                </div>
    
                <div class="bg-white col-12 d-flex flex-wrap my-2" style="">
    
                    <div class="col-12 col-md-4 col-xl-3 d-flex justify-content-center align-items-center p-4">
                        <img src="/img/dev2.jpg"  class="w-100 rounded-circle" alt="">
                    </div>
    
                    <div class="col-12 col-md-8">
    
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="">
                                <ul class="d-flex flex-row nav fs-2">
                                    <li class="nav-item">
                                        <a class="text-muted nav-link" href="">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="text-muted nav-link" href="">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="text-muted nav-link" href="">
                                            <i class="fas fa-globe"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <h1 class=" p-2 text-end display-4">Kole Morgan</h1>
                        </div>
                        
                        <hr class="">
    
                        <div>
                            <div>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        
                            <br>

                            <a class="text-muted text-end " href="">Contact Me via LinkedIn</a>
                        </div>
    
                    </div>
                    
                   
    
                    
                </div>

            </div>


            <div class="col-12">

                <h1 class="text-center p-3">
                    About the Project
                </h1>

            </div>

            <div class="bg-white p-2 pb-4 mb-4" >

                <h3 class="p-2">
                    Techonolgies used in this project
                </h3>
                <div class="row">
                    <div class="col-3 p-4">
                        <a href="https://hub.docker.com/repository/docker/jacobgonzalez0/boopr">
                            <img class="w-100" src="/img/icons/docker.png" alt="">
                        </a>
                    </div>
                    <div class="col-3 p-4">
                        <a href="https://github.com/Boopr/Boopr">
                            <img  class="w-100" src="/img/icons/java.png" alt="">
                        </a>
                    </div>
                    <div class="col-3 p-4">
                        <a href="https://spring.io/">
                            <img  class="w-100" src="/img/icons/spring.png" alt="">
                        </a>
                    </div>
                    <div class="col-3 p-4">
                        <a href="https://spring.io/projects/spring-restdocs">
                            <img  class="w-100" src="/img/icons/restapi.png" alt="">
                        </a>
                    </div>

                </div>

                <div class="my-2 fs-5">
                    This project can be found on github with instructions on deployment <a href="https://github.com/Boopr/Boopr">here</a>. This project was the result of our final capstone project worked on at Codeup, a coding bootcamp for Full-Stack Java Web Development. The goal was to have a responsive website using rest controllers and AJAX. A lot of this website has custom built javascript classes and modules to generate a lot of the UI. Most of it allowed us to have quick control on editing reduntent commands for creating elements and dealing with events.
                </div>

                <h4 class="my-4">The Future</h4>

                <div class="my-2 fs-5">
                    Going forward with this project, we aim to use Vue.JS with VueX and seperate the frontend from the backend. This will allow the app to be more flexable with our goals of making an Android app in the coming time since Java is currently under our belts now. We will also implement JWT for security to make the api easier to use for other frontends.

                    <br>
                    <br>

                    New features to add and lots more are in store that will make this more exciting and cool place to post your cute dog photos. Stay tuned to the project as there is more to come!
                </div>


            </div>

            

        </div>
        
    </div>
    
</main>
<script layout:fragment="script">


</script>
</body>
</html>
