<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" lang="en">
<head>
    <title>Main Page</title>
</head>
<body>

<main layout:fragment="content">


    <div class="container">
        <div class="d-flex flex-wrap w-100 justify-content-center">
            
            <td th:each="dog : ${dogs}">

                <div class="card m-3" style="min-width:320px; max-width:400px; min-height: 20rem;">
                    <img src="https://media.istockphoto.com/photos/mixed-breed-dog-playing-at-grass-picture-id1207792024?s=612x612" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a class="card-text d-flex justify-content-between align-items-flex-end w-100"><h4
                                th:text="${dog.name}">Name</h4><h4>
                            Total boops</h4></a>
                    </div>
                </div>

            </td>
            
        </div>
    </div>


    <!--    <div class="container col-12 col-lg-6 col-md-8 mx-auto mt-4 row ">-->
    <!--        <div class="card m-3" style="width: 18rem; min-height: 20rem;">-->
    <!--            <img src="../static/img/smartest-dog-breeds-1553287693.jpeg" class="card-img-top" alt="...">-->
    <!--            <div class="card-body">-->
    <!--                <a class="card-text d-flex justify-content-between align-items-flex-end w-100"><h4>Name</h4><h4>Total boops</h4></a>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        <div class="card m-3" style="width: 18rem; min-height: 20rem;">-->
    <!--            <img src="../static/img/smartest-dog-breeds-1553287693.jpeg" class="card-img-top" alt="...">-->
    <!--            <div class="card-body">-->
    <!--                <a class="card-text d-flex justify-content-between align-items-center w-100"><h4>Name</h4><h4>Total boops</h4></a>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        <div class="card m-3" style="width: 18rem; min-height: 20rem;">-->
    <!--            <img src="../static/img/smartest-dog-breeds-1553287693.jpeg" class="card-img-top" alt="...">-->
    <!--            <div class="card-body">-->
    <!--                <a class="card-text d-flex justify-content-between align-items-center w-100"><h4>Name</h4><h4>Total boops</h4></a>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        <div class="card m-3" style="width: 18rem; min-height: 20rem;">-->
    <!--            <img src="../static/img/smartest-dog-breeds-1553287693.jpeg" class="card-img-top" alt="...">-->
    <!--            <div class="card-body">-->
    <!--                <a class="card-text d-flex justify-content-between align-items-center w-100"><h4>Name</h4><h4>Total boops</h4></a>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--    </div>-->
</main>
</body>
</html>


